In [1]:
import pandas as pd
students = pd.DataFrame({'이름':['장화','홍련','콩쥐','팥쥐','해님','달님'], 
                         '국어': [70, 85, None, 100, None, 85], 
                         '수학':[65, 100, 80, 95, None, 70]})
students

   이름     국어     수학
0  장화   70.0   65.0
1  홍련   85.0  100.0
2  콩쥐    NaN   80.0
3  팥쥐  100.0   95.0
4  해님    NaN    NaN
5  달님   85.0   70.0

In [2]:
students[students['이름'] == '장화']

   이름    국어    수학
0  장화  70.0  65.0

In [3]:
students[(students['국어'] >=80) & (students['수학'] >=80)]

   이름     국어     수학
1  홍련   85.0  100.0
3  팥쥐  100.0   95.0

In [4]:
students.loc[6, '이름':'수학'] = ['별님', 50, 60] 
students.loc[(students['국어']>=80)&(students['수학']>=70), '합격'] = 'Pass'
students.loc[students['합격']!='Pass', '합격'] = 'Fail'
students

   이름     국어     수학    합격
0  장화   70.0   65.0  Fail
1  홍련   85.0  100.0  Pass
2  콩쥐    NaN   80.0  Fail
3  팥쥐  100.0   95.0  Pass
4  해님    NaN    NaN  Fail
5  달님   85.0   70.0  Pass
6  별님   50.0   60.0  Fail

In [5]:
import numpy as np
condition_list = [(students['국어'] >= 90),
                 (students['국어'] >= 80) & (students['국어'] < 90),
                 (students['국어'] >= 70) & (students['국어'] < 80)]
choice_list = ['A', 'B', 'C']

students['점수'] = np.select(condition_list, choice_list, default='F')
students

   이름     국어     수학    합격 점수
0  장화   70.0   65.0  Fail  C
1  홍련   85.0  100.0  Pass  B
2  콩쥐    NaN   80.0  Fail  F
3  팥쥐  100.0   95.0  Pass  A
4  해님    NaN    NaN  Fail  F
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

In [6]:
students.isna()

      이름     국어     수학     합격     점수
0  False  False  False  False  False
1  False  False  False  False  False
2  False   True  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False  False  False  False  False
6  False  False  False  False  False

In [7]:
students.notna()

     이름     국어     수학    합격    점수
0  True   True   True  True  True
1  True   True   True  True  True
2  True  False   True  True  True
3  True   True   True  True  True
4  True  False  False  True  True
5  True   True   True  True  True
6  True   True   True  True  True

In [8]:
students.isna().sum()

이름    0
국어    2
수학    1
합격    0
점수    0
dtype: int64

In [9]:
students.isna().sum(1)

0    0
1    0
2    1
3    0
4    2
5    0
6    0
dtype: int64

In [10]:
students.dropna()

   이름     국어     수학    합격 점수
0  장화   70.0   65.0  Fail  C
1  홍련   85.0  100.0  Pass  B
3  팥쥐  100.0   95.0  Pass  A
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

In [11]:
students.dropna(thresh=4)

   이름     국어     수학    합격 점수
0  장화   70.0   65.0  Fail  C
1  홍련   85.0  100.0  Pass  B
2  콩쥐    NaN   80.0  Fail  F
3  팥쥐  100.0   95.0  Pass  A
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

In [12]:
students.fillna(value=0)

   이름     국어     수학    합격 점수
0  장화   70.0   65.0  Fail  C
1  홍련   85.0  100.0  Pass  B
2  콩쥐    0.0   80.0  Fail  F
3  팥쥐  100.0   95.0  Pass  A
4  해님    0.0    0.0  Fail  F
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

In [13]:
health = pd.DataFrame({'연도':[2017, 2018, 2019, 2020, 2021, 2022], 
                       '키': [160, 162, 165, None, None, 166],
                       '몸무게': [53, 52, None, 50, 51, 54],
                       '시력': [1.2, None, 1.2, 1.2, 1.1, 0.8],
                       '병결': [None, None, None, 2, None, 1]})
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  NaN
1  2018  162.0  52.0  NaN  NaN
2  2019  165.0   NaN  1.2  NaN
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  NaN
5  2022  166.0  54.0  0.8  1.0

In [14]:
health.fillna(0)

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  0.0  0.0
2  2019  165.0   0.0  1.2  0.0
3  2020    0.0  50.0  1.2  2.0
4  2021    0.0  51.0  1.1  0.0
5  2022  166.0  54.0  0.8  1.0

In [15]:
health.fillna(health.mean())

     연도       키   몸무게   시력   병결
0  2017  160.00  53.0  1.2  1.5
1  2018  162.00  52.0  1.1  1.5
2  2019  165.00  52.0  1.2  1.5
3  2020  163.25  50.0  1.2  2.0
4  2021  163.25  51.0  1.1  1.5
5  2022  166.00  54.0  0.8  1.0

In [16]:
health['병결'] = health['병결'].fillna(0)
health['몸무게'] = health['몸무게'].fillna(health['몸무게'].mean())
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  NaN  0.0
2  2019  165.0  52.0  1.2  0.0
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  0.0
5  2022  166.0  54.0  0.8  1.0

In [17]:
health.fillna(method='pad', inplace=True)
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  1.2  0.0
2  2019  165.0  52.0  1.2  0.0
3  2020  165.0  50.0  1.2  2.0
4  2021  165.0  51.0  1.1  0.0
5  2022  166.0  54.0  0.8  1.0

In [22]:
health['키'].drop_duplicates().tolist()

[160.0, 162.0, 165.0, 166.0]

In [20]:
set(health['키'])

{160.0, 162.0, 165.0, 166.0}

In [19]:
health[['시력','병결']].drop_duplicates()

    시력   병결
0  1.2  0.0
3  1.2  2.0
4  1.1  0.0
5  0.8  1.0