In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from pandas.testing import assert_frame_equal

In [4]:
p1 = Path.cwd() / 'data'

In [5]:
movie = pd.read_csv(p1 / 'movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [9]:
cols = sorted([c for c in movie.columns if '_name' in c])
movie_ad = movie[cols]
movie_ad.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [10]:
def shorten(col):
    return str(col).replace('facebook_likes', 'fb').replace('_for_reviews', '')

In [11]:
movie = movie.rename(columns=shorten)
movie.dtypes.value_counts()

float64    13
object     12
int64       3
Name: count, dtype: int64

In [13]:
movie.select_dtypes(include='int').head(), movie.select_dtypes(include='number').head()

(   num_voted_users  cast_total_fb  movie_fb
 0           886204           4834     33000
 1           471220          48350         0
 2           275868          11700     85000
 3          1144337         106759    164000
 4                8            143         0,
    num_critic  duration  director_fb  actor_3_fb  actor_1_fb        gross  \
 0       723.0     178.0          0.0       855.0      1000.0  760505847.0
 1       302.0     169.0        563.0      1000.0     40000.0  309404152.0
 2       602.0     148.0          0.0       161.0     11000.0  200074175.0
 3       813.0     164.0      22000.0     23000.0     27000.0  448130642.0
 4         NaN       NaN        131.0         NaN       131.0          NaN

    num_voted_users  cast_total_fb  facenumber_in_poster  num_user  \
 0           886204           4834                   0.0    3054.0
 1           471220          48350                   0.0    1238.0
 2           275868          11700                   1.0     994.0
 3          1144337         106759                   0.0    2701.0
 4                8            143                   0.0       NaN

         budget  title_year  actor_2_fb  imdb_score  aspect_ratio  movie_fb
 0  237000000.0      2009.0       936.0         7.9          1.78     33000
 1  300000000.0      2007.0      5000.0         7.1          2.35         0
 2  245000000.0      2015.0       393.0         6.8          2.35     85000
 3  250000000.0      2012.0     23000.0         8.5          2.35    164000
 4          NaN         NaN        12.0         7.1           NaN         0  )

In [14]:
movie.select_dtypes(exclude=['int', 'float']).head()

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13
3,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13
4,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN

In [16]:
movie.filter(like='fb').head()

   director_fb  actor_3_fb  actor_1_fb  cast_total_fb  actor_2_fb  movie_fb
0          0.0       855.0      1000.0           4834       936.0     33000
1        563.0      1000.0     40000.0          48350      5000.0         0
2          0.0       161.0     11000.0          11700       393.0     85000
3      22000.0     23000.0     27000.0         106759     23000.0    164000
4        131.0         NaN       131.0            143        12.0         0

In [17]:
movie.filter(items=cols).head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [20]:
movie.filter(regex=r'[\d]+')

,actor_3_fb,actor_2_name,actor_1_fb,actor_1_name,actor_3_name,actor_2_fb
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0
...,...,...,...,...,...,...
4911,318.0,Daphne Zuniga,637.0,Eric Mabius,Crystal Lowe,470.0
4912,319.0,Valorie Curry,841.0,Natalie Zea,Sam Underwood,593.0
4913,0.0,Maxwell Moody,0.0,Eva Boehnke,David Chandler,0.0
4914,489.0,Daniel Henney,946.0,Alan Ruck,Eliza Coupe,719.0
4915,16.0,Brian Herzlinger,86.0,John August,Jon Gunn,23.0

In [21]:
movie.columns

Index(['color', 'director_name', 'num_critic', 'duration', 'director_fb',
       'actor_3_fb', 'actor_2_name', 'actor_1_fb', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_fb',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb', 'imdb_score', 'aspect_ratio',
       'movie_fb'],
      dtype='object')

In [25]:
movie.count(), movie.count(axis=1)

(color                   4897
 director_name           4814
 num_critic              4867
 duration                4901
 director_fb             4814
 actor_3_fb              4893
 actor_2_name            4903
 actor_1_fb              4909
 gross                   4054
 genres                  4916
 actor_1_name            4909
 movie_title             4916
 num_voted_users         4916
 cast_total_fb           4916
 actor_3_name            4893
 facenumber_in_poster    4903
 plot_keywords           4764
 movie_imdb_link         4916
 num_user                4895
 language                4902
 country                 4911
 content_rating          4616
 budget                  4432
 title_year              4810
 actor_2_fb              4903
 imdb_score              4916
 aspect_ratio            4590
 movie_fb                4916
 dtype: int64,
 0       28
 1       28
 2       28
 3       28
 4       14
         ..
 4911    24
 4912    23
 4913    24
 4914    26
 4915    28
 Length: 4916, dtype: int64)

In [28]:
movie.describe(include='number').T

,count,mean,std,min,25%,50%,75%,max
num_critic,4867.0,1.379889e+02,1.202394e+02,1.00,49.00,108.00,191.00,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_fb,4814.0,6.910145e+02,2.832954e+03,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_fb,4893.0,6.312763e+02,1.625875e+03,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_fb,4909.0,6.494488e+03,1.510699e+04,0.00,607.00,982.00,11000.00,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,8361.75,33132.50,93772.75,1.689764e+06
cast_total_fb,4916.0,9.579816e+03,1.816432e+04,0.00,1394.75,3049.00,13616.75,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user,4895.0,2.676688e+02,3.729348e+02,1.00,64.00,153.00,320.50,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_fb,4903.0,1.621924e+03,4.011300e+03,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_fb,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,159.00,2000.00,3.490000e+05

In [29]:
movie.describe(include='number', percentiles=[0.01, 0.5, 0.99]).T

,count,mean,std,min,1%,50%,99%,max
num_critic,4867.0,1.379889e+02,1.202394e+02,1.00,2.00,108.00,5.466800e+02,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,43.00,103.00,1.890000e+02,5.110000e+02
director_fb,4814.0,6.910145e+02,2.832954e+03,0.00,0.00,48.00,1.600000e+04,2.300000e+04
actor_3_fb,4893.0,6.312763e+02,1.625875e+03,0.00,0.00,366.00,1.100000e+04,2.300000e+04
actor_1_fb,4909.0,6.494488e+03,1.510699e+04,0.00,6.08,982.00,4.492000e+04,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,8474.80,25043962.00,3.264128e+08,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,53.00,33132.50,6.815846e+05,1.689764e+06
cast_total_fb,4916.0,9.579816e+03,1.816432e+04,0.00,6.00,3049.00,6.241390e+04,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,8.000000e+00,4.300000e+01
num_user,4895.0,2.676688e+02,3.729348e+02,1.00,1.94,153.00,1.999240e+03,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,60000.00,19850000.00,2.000000e+08,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1951.00,2005.00,2.016000e+03,2.016000e+03
actor_2_fb,4903.0,1.621924e+03,4.011300e+03,0.00,0.00,593.00,1.700000e+04,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,3.10,6.60,8.500000e+00,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.33,2.35,4.000000e+00,1.600000e+01
movie_fb,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,159.00,9.385000e+04,3.490000e+05

In [35]:
movie.select_dtypes(include='number').min(), movie.select_dtypes(include='number').min(skipna=False)

(num_critic                 1.00
 duration                   7.00
 director_fb                0.00
 actor_3_fb                 0.00
 actor_1_fb                 0.00
 gross                    162.00
 num_voted_users            5.00
 cast_total_fb              0.00
 facenumber_in_poster       0.00
 num_user                   1.00
 budget                   218.00
 title_year              1916.00
 actor_2_fb                 0.00
 imdb_score                 1.60
 aspect_ratio               1.18
 movie_fb                   0.00
 dtype: float64,
 num_critic              NaN
 duration                NaN
 director_fb             NaN
 actor_3_fb              NaN
 actor_1_fb              NaN
 gross                   NaN
 num_voted_users         5.0
 cast_total_fb           0.0
 facenumber_in_poster    NaN
 num_user                NaN
 budget                  NaN
 title_year              NaN
 actor_2_fb              NaN
 imdb_score              1.6
 aspect_ratio            NaN
 movie_fb                0.0
 dtype: float64)

In [37]:
movie.isna().sum().sum()

2656

In [43]:
movie.isna().any().any(), movie.notna().all().all(), movie['director_name'].hasnans

(True, False, True)