In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

train_df = pd.read_csv('data/travel_insurance/t2-1-train.csv')
test_df = pd.read_csv('data/travel_insurance/t2-1-test.csv')

train_df['AnnualIncome'] = train_df['AnnualIncome'].fillna(train_df['AnnualIncome'].median())
test_df['AnnualIncome'] = test_df['AnnualIncome'].fillna(train_df['AnnualIncome'].median())
test_df['Employment Type'] = test_df['Employment Type'].replace('Casual employment', 'Private Sector/Self Employed')

X_train = pd.get_dummies(train_df.iloc[:, 1:-1])
X_test = pd.get_dummies(test_df.iloc[:, 1:])
y_train = train_df.iloc[:, -1]

#rf_clf = RandomForestClassifier(n_estimators=100, ccp_alpha=0.0008, n_jobs=-1, random_state=0)
#cv = cross_val_score(rf_clf, X_train, y_train, cv=5, scoring='roc_auc')
#cv

#X_train_tr, X_train_vd, y_train_tr, y_train_vd = train_test_split(X_train, y_train, random_state=0)
#rf_clf = RandomForestClassifier(n_estimators=100, ccp_alpha=0.0008, n_jobs=-1, random_state=0).fit(X_train_tr, y_train_tr)
#rf_clf.score(X_train_tr, y_train_tr), rf_clf.score(X_train_vd, y_train_vd), roc_auc_score(y_train_vd, rf_clf.predict(X_train_vd))

rf_clf = RandomForestClassifier(n_estimators=100, ccp_alpha=0.0008, n_jobs=-1, random_state=0).fit(X_train, y_train)
submit_df = pd.DataFrame({'ID':test_df.loc[:, 'id'], 'TravelInsurance':rf_clf.predict(X_test)})
submit_df.to_csv('data/travel_insurance/submission.csv', index=False)

In [2]:
train_df

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,10000,28,Private Sector/Self Employed,Yes,1250000.0,6,1,No,No,0
1,10001,31,Private Sector/Self Employed,Yes,1250000.0,7,1,No,No,0
2,10002,29,Private Sector/Self Employed,Yes,1200000.0,7,0,No,No,1
3,10003,33,Government Sector,Yes,650000.0,6,1,No,No,1
4,10004,28,Private Sector/Self Employed,Yes,800000.0,6,0,No,Yes,1
...,...,...,...,...,...,...,...,...,...,...
1485,11485,28,Private Sector/Self Employed,Yes,800000.0,4,0,No,No,0
1486,11486,34,Private Sector/Self Employed,Yes,1000000.0,9,0,No,No,0
1487,11487,26,Private Sector/Self Employed,Yes,450000.0,5,1,No,No,1
1488,11488,25,Private Sector/Self Employed,No,1150000.0,3,1,No,Yes,0
1489,11489,31,Government Sector,Yes,400000.0,2,0,No,No,0

In [3]:
test_df

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,0,32,Government Sector,Yes,650000.0,5,0,No,No
1,1,27,Government Sector,Yes,500000.0,5,0,No,No
2,2,32,Government Sector,Yes,350000.0,2,0,No,No
3,3,26,Private Sector/Self Employed,Yes,1400000.0,6,0,No,Yes
4,4,27,Private Sector/Self Employed,No,350000.0,3,0,No,No
...,...,...,...,...,...,...,...,...,...
492,492,25,Private Sector/Self Employed,No,1150000.0,5,1,Yes,No
493,493,34,Private Sector/Self Employed,Yes,1500000.0,9,0,Yes,Yes
494,494,33,Government Sector,Yes,700000.0,4,0,No,No
495,495,26,Private Sector/Self Employed,Yes,1400000.0,4,0,No,Yes
496,496,26,Private Sector/Self Employed,Yes,1500000.0,3,0,Yes,Yes